[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
bcrypt = "*"
flask-jwt-extended = "*"
boto3 = "*"
awsebcli = "*"

[dev-packages]

[requires]
python_version = "3.7"
